<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.straw.portal.mapper.ClassInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.straw.portal.model.ClassInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="invite_code" property="inviteCode" />
        <result column="is_enabled" property="isEnabled" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!--根据班级验证码 查找对应的 班级信息-->
    <!--ClassInfo findByInviteCode(String inviteCode);-->
    <select id="findByInviteCode" resultMap="BaseResultMap">
        SELECT * FROM class_info WHERE invite_code = #{inviteCode}
    </select>

</mapper>
